<div>
	<%= form.label :front %>
	<%= form.text_field :front %>
</div>

<br />

<div>
	<%= form.label :back %>
	<%= form.text_field :back %>
</div>

<hr />
	
<div>
	<%= submit_tag "Name", :type => 'button' %>
</div>

<hr />
